@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

/* here is the technologies section div style */
.skillCnt {
  @apply rounded-2xl border-2 bg-neutral-900 p-4;
}
.placeholdeCls {
  @apply w-full rounded-md py-3 px-4 bg-transparent border border-slate-200 text-sm outline-[#007bff];
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c061b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d61cc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
